.card{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
    padding: 10px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    font-size: px;    
   
}

.card:hover {
    box-shadow: 0 0 10px #ccc;
}

.card img {
    width: 40%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.total{
    position:fixed ;
    top: 0;
    width: 100%;
  
}